<div class="wrapper">
  <div class="sidebar">
      <nextpork-sidebar></nextpork-sidebar>
  </div>
  <div class="main-panel">
  <nextpork-navbar></nextpork-navbar>
  <div class="panel-header panel-header-sm">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card mt-5">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Codigo</th>
                      <th scope="col">Granja</th>
                      <th scope="col">Fecha Entrega</th>
                      <th scope="col">Fecha Inicio</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Detalle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Acetaminofen</td>
                      <td>
                        21/07/2017
                      </td>
                      <td>21/07/2017</td>
                      <td>En Camino</td>
                      <td><i class="fa fa-eye fa-2x"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Amoxicilina</td>
                      <td>
                        21/07/2017
                      </td>
                      <td>21/07/2017</td>
                      <td>En Camino</td>
                      <td><i class="fa fa-eye fa-2x"></i></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Ejemplo</td>
                      <td>
                        21/07/2017
                      </td>
                      <td>21/07/2017</td>
                      <td>En Camino</td>
                      <td><i class="fa fa-eye fa-2x"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <nextpork-footer></nextpork-footer>
    </div>
  </div>


