<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a href="https://www.creative-tim.com" class="simple-text logo-normal">
    Nextpork
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">

    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/table-list">
        <i class="fa fa-plus"></i>
        <p>Pedidos</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/admin">
        <i class="fa fa-plus"></i>
        <p>Admin</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/solicitar">
        <i class="fa fa-plus"></i>
        <p>Solicitar</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/requeridos">
        <i class="fa fa-plus"></i>
        <p>Requeridos</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/usuarios">
        <i class="fa fa-plus"></i>
        <p>Usuarios</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/granja">
        <i class="fa fa-plus"></i>
        <p>Granjas</p>
      </a>
    </li>

    <p>
      <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Hola</button>
    </p>
    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
      <div class="card">
        <div class="card-body">
          sadjsd
        </div>

      </div>
    </div>

  </ul>
</div>
