<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a href="https://www.creative-tim.com" class="simple-text logo-normal">
    Nextpork
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/dashboard">
        <i class="fa fa-plus"></i>
        <p>Admin</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/table-list">
        <i class="fa fa-plus"></i>
        <p>Ver reportes</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/icons">
        <i class="fa fa-plus"></i>
        <p>Solicitud sucursal</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/user-profile">
        <i class="fa fa-plus"></i>
        <p>Ver mis pedidos</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/maps">
        <i class="fa fa-plus"></i>
        <p>Sucursales</p>
      </a>
    </li>
  </ul>
</div>
