<div class="wrapper">
    <div class="sidebar">
        <nextpork-sidebar></nextpork-sidebar>
    </div>
    <div class="main-panel">
        <nextpork-navbar></nextpork-navbar>
        <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card mt-5">
                  <h4 class="card-title ml-3 mt-2">Solicitar pedidos</h4>


                  <div class="card-body">
                    <form action="">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Busca tu producto</label>
                          <input type="text" class="form-control" placeholder="Buscar producto">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Seleccione la granja</label>
                          <select class="form-control">
                            <option>Ejemplo1</option>
                            <option>Ejemplo2</option>
                          </select>
                        </div>
                      </div>
                    </form>
                    <div class="col-md-12 text-center">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Codigo</th>
                              <th scope="col">Referencia</th>
                              <th scope="col">Cantidad</th>
                              <th scope="col">Agregar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Acetaminofen</td>
                              <td>
                                <input type="number" class="form-control w-50 offset-4">
                              </td>
                              <td><i class="fa fa-plus fa-2x"></i></td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Amoxicilina</td>
                              <td>
                                <input type="number" class="form-control w-50 offset-4">
                              </td>
                              <td><i class="fa fa-plus fa-2x"></i></td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Benzocaína</td>
                              <td>
                                <input type="number" class="form-control w-50 offset-4">
                              </td>
                              <td><i class="fa fa-plus fa-2x"></i></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <button class="btn btn-success offset-8">Solicitar</button>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>

    </div>
</div>

