<div class="wraper">
  <div class="sidebar">
    <nextpork-sidebar></nextpork-sidebar>
  </div>

  <div class="main-panel">
      <nextpork-navbar></nextpork-navbar>
      <div class="panel-header panel-header-sm">
        </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mt-5 text-center">
          <h3 class="card-title">Crear Granjas</h3>
          <div class="card-body">
            <form action="">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Nombre Granja</label>
                  <input type="text" class="form-control" placeholder="Introduzca un nombre">
                </div>
                <div class="form-group col-md-6">
                  <label>Ubicacion</label>
                  <input type="text" class="form-control" placeholder="Introduzca una ubicacion">
                </div>
                <div class="form-group col-md-6">
                  <label># hembras</label>
                  <input type="number" class="form-control" placeholder="# de hembras">
                </div>
                <div class="form-group col-md-6">
                  <label>NIT</label>
                  <input type="number" class="form-control" placeholder="Introduzca un NIT">
                </div>
                <div class="form-group col-md-6">
                  <button class="btn btn-success form-control">Crear</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nextpork-footer></nextpork-footer>
  </div>
</div>
