<div class="wraper">
  <div class="sidebar">
    <nextpork-sidebar></nextpork-sidebar>
  </div>

  <div class="main-panel">
    <nextpork-navbar></nextpork-navbar>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-plain">
            <div class="card-header">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <label for="validationTooltip01">Seleccione para filtar</label>
                    <select class="custom-select form-control">
                      <option selected value="1">Detalle productos</option>
                      <option value="2">Detalle Pedidos</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="validationTooltip01">Desde</label>
                    <input type="date" class="form-control" id="validationTooltip01" placeholder="First name">
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-2">
                    <label for="validationTooltip01">Hasta</label>
                    <input type="date" class="form-control" id="validationTooltip01" placeholder="First name">
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-2 mt-3">
                    <button class="btn btn-success">Exportar excel</button>
                  </div>
                  <div class="col-md-2 mt-3">
                    <button class="btn btn-danger">Exportar pdf</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr>
                      <th scope="col">Codigo</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">cantidad</th>
                      <th scope="col">Fecha pedido</th>
                      <th scope="col">Fecha entrega</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Acetaminofen</td>
                      <td>3</td>
                      <td>2018/15/06</td>
                      <td>2018/15/06</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Amoxicilina</td>
                      <td>2</td>
                      <td>2018/15/06</td>
                      <td>2018/15/06</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Benzocaína</td>
                      <td>4</td>
                      <td>2018/15/06</td>
                      <td>2018/15/06</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="container offset-lg-8 row">

          </div>
        </div>
      </div>
    </div>
    <nextpork-footer></nextpork-footer>
  </div>
</div>
